//- Template to create tweet section at bottom of page

//- store the url for the user's avatar, or set a default image
- var avatar = data.avatar || "images/f-spore.png"

footer.app--tweet
  form(action="")
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style=`background-image: url(${avatar} `)
          img(src=avatar, alt=data.name)
        textarea#tweet-textarea.circle--textarea--input(name="tweetContent", maxlength="140")
        strong#tweet-char.app--tweet--char 140
      .circle--fluid--cell.align-bottom
        button.button-primary Tweet
script(src="/js/events.js")