include layout
include header
include footer
.bounds.app--body
  .app--section--header
    each val in ["Timeline", "Following", "Direct Messages"]
      include section-headings
  .grid-33
    .app--section
      ul.app--tweet--list
        each timePost in data.timeline
          include cards/timeline
  .grid-33
    .app--section
      ul.app--user--list
        //- each following in data.following
        //-   include cards/following
  .grid-33
    .app--section
      ul.app--message--list
        li
          h3 Conversation with 
            //- a #{data.directMessage.name}
          ul.app--message--conversation
            //- each message in data.directMessage.messages
            //-   include cards/message


