include layout
include header
include footer
.bounds.app--body
  .app--section--header
    .grid-45.grid-push-30
      h1 Oh No!
      p It looks like you zigged when you should have zagged!
      p Carry me home captain! 
        button.button Home  