li
  .circle--fluid
    .circle--fluid--cell.circle--fluid--primary
      a.app--tweet--author
        .app--avatar(style="background-image: url(images/f-spore.png)")
          img(src="images/f-spore.png", alt="")
        h4 Jill Spore
        p @jillspore
    .circle--fluid--cell
      a.button.button-text Unfollow

