li.app--message--me
  .app--avatar(style="background-image: url(images/m-spore.png)")
    img(src="images/m-spore.png", alt="")
  p.app--message--text Great! How about you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
  p.app--message--timestamp 2 hours ago

//-   <p class="app--message--text">Great! How about you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
//-   <p class="app--message--timestamp">2 hours ago</p>
//- </li>