li.app--message
  .app--avatar(style="background-image: url(images/f-spore.png)")
    img(src="images/f-spore.png", alt="")
  p.app--message--text How are things?
  p.app--message--timestamp 3 hours ago

